{% extends "base.html" %}

{% set albums = [] %}
{% for alb in album.albums if alb.title != "thumbnails" %}
  {% set _ = albums.append(alb) %}
{% endfor %}

{% set images = [] %}
{% set videos = [] %}
{% set files = [] %}
{% for media in album.medias %}
  {% if media.type == "image" %}
    {% set _ = images.append(media) %}
  {% elif media.type == "video" %}
    {% set _ = videos.append(media) %}
  {% else %}
    {% set _ = files.append(media) %}
  {% endif %}
{% endfor %}

{% block extra_head %}
  <script src="{{ theme.url }}/photoswipe.min.js"></script>
  <script src="{{ theme.url }}/photoswipe-ui-default.min.js"></script>
  <script src="{{ theme.url }}/echo/echo.min.js"></script>
  <link rel="stylesheet" href="{{ theme.url }}/photoswipe.css">
  <link rel="stylesheet" href="{{ theme.url }}/default-skin/default-skin.css">
{% endblock extra_head %}

{% block content %}

  {% if album.description %}
  <div id="description" class="row">
  {{ album.description }}
  </div>
  {% endif %}

  {% if albums %}
    <h2>Albums</h2>
    <div class="album-list">
    {% for alb in albums %}
      <div class="menu-img thumbnail">
        <a href="{{ alb.url }}">
          <img src="{{ alb.thumbnail }}" class="album_thumb"
               alt="{{ alb.title }}" title="{{ alb.title }}" /></a>
        <div class="caption">
          <span class="title">{{ alb.title }}</span>
          {% if alb.meta.summary and alb.meta.summary[0] %}<br>{{ alb.meta.summary[0] }}{% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}

  {% if album.medias %}
    {% if album.zip %}
    <div class="additionnal-infos">
      <p><a href="{{ album.zip }}"
            title="Download a zip archive with all media">Download ZIP</a></p>
    </div>
    {% endif %}

    {% if images %}
      <h2>Images</h2>
      <div class="gallery gallery_pswp" itemscope itemtype="http://schema.org/ImageGallery">
      {% for media in images %}
        <div class="gallery__img--secondary thumbnail">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ media.big_url }}" itemprop="contentUrl" data-size="{{media.input_size.width}}x{{media.input_size.height}}">
              <img src="{{ theme.url }}/echo/blank.gif"
                   data-echo="{{ media.thumbnail }}"
                   alt="{{ media.url }}" itemprop="thumbnail" title="{{ media.exif.datetime }}" />
            </a>
            <div class="lightbox_caption" itemprop="caption description">{{ media.title }} - {{ media.exif.datetime }}<br>{{ media.description }}</div>
            <figcaption><span class="title">{{ media.title }}</span>{% if media.meta.summary and media.meta.summary[0] %}<br>{{ media.meta.summary[0] }}{% endif %}</figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if videos %}
      <h2>Videos</h2>
      <div class="gallery gallery_pswp" itemscope itemtype="http://schema.org/ImageGallery">
      {% for media in videos %}
        <figure class="gallery__img--secondary thumbnail video"
                itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ media.big_url }}" itemprop="contentUrl" data-type="video"
             data-video='<div class="video"><div class="video__container"><video controls><source src="{{ media.url }}" type="{{ media.mime }}" /></video></div></div>'>
          <div class="video-overlay" style="line-height:{{settings['thumb_size'][1]}}px">
            <span class="material-icons">play_circle_outline</span>
          </div>
          <img src="{{ theme.url }}/echo/blank.gif"
               data-echo="{{ media.thumbnail }}"
               alt="{{ media.thumbnail }}" itemprop="thumbnail" title="" />
          </a>
          <div class="lightbox_caption" itemprop="caption description">{{ media.title }}<br>{{ media.description }}</div>
          <figcaption>{{ media.title }}{% if media.meta.summary and media.meta.summary[0] %}<br>{{ media.meta.summary[0] }}{% endif %}</figcaption>
        </figure>
      {% endfor %}
      </div>
    {% endif %}

    {% if files %}
      <h2>Other Files</h2>
      <div class="gallery">
      {% for media in files %}
        <figure class="gallery__img--secondary thumbnail file">
          <a href="{{ media.big_url }}" target="_blank">
          <img src="{{ theme.url }}/echo/blank.gif"
               data-echo="{{ media.thumbnail }}"
               alt="{{ media.thumbnail }}" itemprop="thumbnail" title="" />
          </a>
          <div class="lightbox_caption" itemprop="caption description">{{ media.title }}<br>{{ media.description }}</div>
          <figcaption>{{ media.title }}{% if media.meta.summary and media.meta.summary[0] %}<br>{{ media.meta.summary[0] }}{% endif %}</figcaption>
        </figure>
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block extra_footer %}
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>

          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <!--  Controls are self-explanatory. Order can be changed. -->
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

              <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
              <!-- element will get class pswp__preloader-active when preloader is running -->
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
      </div>
  </div>
  <script src="{{ theme.url }}/app.js"></script>

{% endblock %}
