<!doctype html>
<html lang="{{ settings.html_language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ album.title }} - {{ index_title }}</title>
    <meta name="description" content="{{ album.description }}">
    <meta name="author" content="{{ album.author }}">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ album.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ album.url }}"/>
    <meta property="og:site_name" content="{{ index_title }}"/>
    <meta property="og:description" content="{{ album.description }}"/>
    <meta property="og:image" content="{{ album.thumbnail }}"/>
    <link rel="stylesheet" href="{{ theme.url }}/styles.css">
    {% if user_css %}
    <link rel="stylesheet" href="{{ theme.url }}/{{ user_css }}">
    {% endif %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra_head %}{% endblock extra_head %}
    {% include 'analytics.html' %}
  </head>
  <body class="{% block extra_body_class %}{% endblock %}">
    <div class="container">
      {% include 'header.html' %}
      {% include 'links.html' %}

      <div class="content">
        {% include 'breadcrumb.html' %}
        {% block content %}{% endblock %}
      </div>

      {% include 'footer.html' %}
      {% block extra_footer %}{% endblock %}
    </div>
  </body>
</html>
