{% extends "base.html" %}

{% block extra_head %}
  <script src="{{ theme.url }}/echo/echo.min.js"></script>
  <link rel="stylesheet" href="{{ theme.url }}/default-skin/default-skin.css">
{% endblock extra_head %}

{% block extra_body_class %}search{% endblock %}

{% block content %}

  <form class="search-form" method="GET">
    <input class="search-bar" type="text" name="query" value="{{ query }}" />
    <div class="search-limit-label">Limit:</div>
    <input class="search-limit" type="number" name="limit" value="{{ limit }}" />
    <button class="search-button" type="submit"><span class="material-icons">search</span>Search</button>
  </form>

  <h2>Search Results</h2>
  <div class="search-overview">
    {% if results %}
    {{ total }} results found. {% if total > limit %} Listing first {{ limit }}.{% endif %}
    {% else %}
    No results found.
    {% endif %}
  </div>
  {% if results %}
  <div class="search-list">
    {% for ret in results %}
    <div class="search-result">
      <div class="thumbnail">
        <a href="{{ ret.url }}">
          <img src="{{ theme.url }}/echo/blank.gif" data-echo="{{ ret.thumbnail }}" />
        </a>
      </div>
      <div class="details">
        <div><span class="label">Type: </span><span class="type">{{ ret.type }}</span></div>
        <div><span class="label">Title: </span><span class="title">{{ ret.title }}</span></div>
        {% if ret.summary %}
        <div><span class="label">Summary: </span><span class="summary">{{ ret.summary }}</span></div>
        {% endif %}
        {% if ret.keywords %}
        <div><span class="label">Keywords: </span><span class="keywords">{{ ret.keywords }}</span></div>
        {% endif %}
        {% if ret.date %}
        <div><span class="label">Create Date: </span><span class="date">{{ ret.date }}</span></div>
        {% endif %}
        {% if ret.orig %}
        <div><span class="label">Raw url: </span><a href="{{ ret.orig }}"><span class="orig">{{ ret.orig }}</span></a></div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}

{% block extra_footer %}
<script>
echo.init({
  offset: 100,
  throttle: 250,
  unload: false
});
</script>
{% endblock %}