{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <style>
  _.sortable figure { border: 1px solid #ccc; margin: .5em; }
  #album_meta {
    margin: 1em .5em 2em;
    display: flex;
    flex-direction: column;
  }
  #album_meta>div {
    padding: 0 .25em;
    min-height: 2em;
  }
  #album_meta textarea {
    width: 100%;
    min-height: 4em;
  }
  #album_meta .thumbnail {
    text-align: left;
  }
  #album_meta .thumbnail p {
    margin: .1em 0 0;
  }
  #upload_section {
    margin: 1em 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #upload_section>div {
    display: flex;
    flex-direction: column;
    min-width: 20em;
    padding: 0 1em 1em;
  }
  .dragdrop {
    flex: 3 1 0;
  }
  .subalbum {
    flex: 1 1 1;
  }
  #upload_section .submit {
    margin-top: .5em;
  }
  .dz-error-mark {
    filter: brightness(10%) invert(11%) sepia(99%) saturate(4777%) hue-rotate(358deg) brightness(96%) contrast(115%);
  }
  .dz-remove {
    display:inline-block !important;
    width:1.2em;
    height:1.2em;

    position:absolute;
    top:-10px;
    right:-10px;
    z-index:1000;

    font-size:1.2em !important;
    line-height:1em;

    text-align:center;
    font-weight:bold;
    border:1px solid gray !important;
    border-radius:1.2em;
    color:gray;
    background-color:white;
    opacity:.9;
  }
  .dz-remove:hover {
    text-decoration:none !important;
    border: 1px solid black !important;
    opacity:1;
  }
  .dropzone .dz-preview:not(.dz-processing) .dz-progress {
    display: none
  }
  #delete {
    margin: 1em 0 2em;
  }
  #delete p {
    margin: 0;
  }
  #delete button {
    color: #ac0000;
    font-weight: 500;
    padding: .2em .4em;
  }
  </style>
{% end extra_head %}

{% block content %}
  <div id="upload_section">
    <div class="dragdrop">
      <h2>Upload Media</h2>
      <form id="upload" class="dropzone" autocomplete="off" method="post" enctype="multipart/form-data" action="/edit/_upload">
        {% module xsrf_form_html() %}
        <input type="hidden" name="album" value="{{ album.url }}" />
        <div class="fallback">
          <label for="file">Select files:</label>
          <input name="file" type="file" multiple />
        </div>
      </form>
      <div>
        <button class="submit" type="submit" form="upload">Upload</button>
      </div>
    </div>
    <div class="subalbum">
      <h2>Create Sub-Album</h2>
      <form id="dircreate" autocomplete="off" method="post" enctype="multipart/form-data" action="/edit/_upload">
        {% module xsrf_form_html() %}
        <input type="hidden" name="album" value="{{ album.url }}" />
        <div>
          <label for="album">Sub-album name:</label>
          <input name="newdir" type="text" />
        </div>
        <div>
          <label for="thumbnail">Thumbnail (optional):</label>
          <input name="thumbnail" type="file" accept="image/*" />
        </div>
        <div>
          <button type="submit" form="dircreate">Create Album</button>
        </div>
      </form>

      <form id="delete" autocomplete="off" method="POST" onsubmit="return confirm('Do you really want to delete this?');">
        {% module xsrf_form_html() %}
        <h2>Delete Album</h2>
        <input type="hidden" name="delete" value="delete" />
        <p>Note: album must be empty first!</p>
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>

  <form id="album" autocomplete="off" method="post" enctype="multipart/form-data">
    {% module xsrf_form_html() %}

    <h2>Album Metadata</h2>
    <div id="album_meta">
      <div>
        <label for="title">Title:</label> <input type="text" name="title" value="{{ album.meta['title'] }}" />
      </div>
      <div>
        <label for="summary">Short Summary:</label> <input type="text" name="summary" value="{{ album.meta['summary'] }}" />
      </div>
      <div>
        <label for="keywords">Keywords:</label> <input type="text" name="keywords" value="{{ album.meta['keywords'] }}" />
      </div>
      <div>
        <label for="description">Detailed Description:</label><br><textarea type="text" name="description">{{ album.meta['description'] }}</textarea>
      </div>
      <div>
        {% set sort = album.meta.get('sort','') %}
        <input type="hidden" name="raw_sort" value="{{ sort }}" />
        {% set sort_reverse = sort and sort[0] == '-' %}
        {% if sort_reverse %}
          {% set sort = sort[1:] %}
        {% end %}
        <label for="sort">Sort:</label> <select name="sort">
          <option value="filename" {% if sort == 'filename' %}selected{% end %}>Filename Alphabetical</option>
          <option value="meta.orderweight" {% if sort == 'meta.orderweight' %}selected{% end %}>Meta Orderweight</option>
        </select>
        <label for="sort_reverse">Reversed:</label> <input type="checkbox" name="sort_reverse" value="true" {% if sort_reverse %}checked{% end %} />
      </div>
      <div>
        <label for="thumbnail">Thumbnail:</label>
        <input name="thumbnail" type="file" accept="image/*" />
        {% if album.thumbnail %}
        <div class="thumbnail">
          <p>Existing thumbnail:</p>
          <img src="{{ album.thumbnail }}" />
        </div>
        {% end %}
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </div>

  {% if album.albums %}
    <h2>Albums</h2>
    <div class="album-list gallery sortable">
    {% for item in album.albums %}
      {% module Template('album_edit_medias.html', item=item) %}
    {% end %}
    </div>
  {% end %}

  {% if album.images %}
    <h2>Images</h2>
    <div class="gallery sortable">
    {% for item in album.images %}
      {% module Template('album_edit_medias.html', item=item) %}
    {% end %}
    </div>
  {% end %}

  {% if album.videos %}
    <h2>Videos</h2>
    <div class="gallery sortable">
    {% for item in album.videos %}
      {% module Template('album_edit_medias.html', item=item) %}
    {% end %}
    </div>
  {% end %}

  {% if album.files %}
    <h2>Other Files</h2>
    <div class="gallery sortable">
    {% for item in album.files %}
      {% module Template('album_edit_medias.html', item=item) %}
    {% end %}
    </div>
  {% end %}
  </form>
{% end %}

{% block extra_footer %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script>
Dropzone.autoDiscover = false;
$(function(){
  $('.sortable').each(function(){
    let base = this;
    $(this).sortable({
      stop: function( event, ui ) {
        console.log("sort stop!", base);

        // set to orderweight
        $('select[name="sort"]').val('meta.orderweight');
        $('input[name="sort_reverse"]').val([]);

        // reweight all albums and media
        $('.sortable input[name^="orderweight"]').each(function(index){
          $(this).val(index);
        });
        $('form').submit();
      }
    });
  });


  let uploader = new Dropzone("#upload", {
    autoProcessQueue: false,
    addRemoveLinks: true,
    dictRemoveFile: '<span class="marker ui-icon ui-icon-trash">×</span>',
    dictCancelUpload: '<span class="marker ui-icon ui-icon-trash">×</span>',
    uploadMultiple: true,
    parallelUploads: 10000,
    maxFiles: 10,
    maxFilesize: 1000000000,
  });
  uploader.on('successmultiple', function(){
    window.location.replace(window.location.href);
  });
  $('#upload_section button.submit').on('click', function(e){
    e.stopPropagation();
    e.preventDefault();
    if (uploader.getRejectedFiles().length > 0) {
      return;
    }
    uploader.processQueue();
  });
});
</script>
{% end %}
