<figure class="gallery__img--secondary thumbnail">
  <!--<div class="marker ui-icon ui-icon-arrow-4"></div>-->
  <div>
    <a href="{{ media['url'] }}">
      <img src="{{ media['thumbnail'] }}"
           alt="{{ media['title'] }}" />
    </a>
  </div>
  <figcaption><span class="title">{{ media['title'] }}</span>{% if media['summary'] %}<br>{{ media['summary'] }}{% endif %}</figcaption>
  <input type="hidden" name="orderweight-{{ media['name'] }}" value="{{ media.get('meta', {}).get('orderweight', ['0'])[0] }}" />
</figure>