{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <style>
  .media_meta {
    margin: 1em .5em 2em;
    display: flex;
    flex-direction: column;
  }
  .media_meta>div {
    padding: 0 .25em;
    min-height: 2em;
  }
  .media_meta .thumbnail {
    text-align: left;
  }
  .media_meta .thumbnail p {
    margin: .1em 0 0;
  }
  .media_meta textarea {
    width: 100%;
    min-height: 4em;
  }
  .media {
    margin: .5em;
  }
  .media.link {
    margin-left: 1em;
  }
  .delete-holder {
    display: flex;
    justify-content: space-between;
  }
  .delete button {
    color: #ac0000;
    font-weight: 500;
    padding: .2em .4em;
  }
  input[type=text] {
    width: 40em;
    max-width: 100%;
  }
  label {
    display: inline-block;
    width: 10em;
  }
  </style>
{% end extra_head %}

{% block content %}
  <form id="delete" autocomplete="off" method="POST" onsubmit="return confirm('Do you really want to delete this?');">
    {% module xsrf_form_html() %}
    <input type="hidden" name="action" value="delete" />
    <div class="delete-holder">
      <h2>Media Metadata</h2>
      <div class="delete">
        <button type="submit">Delete</button>
      </div>
    </div>
  </form>
  <form id="media" autocomplete="off" method="POST" enctype="multipart/form-data">
    {% module xsrf_form_html() %}
    <input type="hidden" name="action" value="edit" />
    <div class="media_meta">
      <div>
        <label for="title">Title:</label> <input type="text" name="title" value="{{ media.meta['title'] }}" />
      </div>
      <div>
        <label for="summary">Short Summary:</label> <input type="text" name="summary" value="{{ media.meta['summary'] }}" />
      </div>
      <div>
        <label for="keywords">Keywords:</label> <input type="text" name="keywords" value="{{ media.meta['keywords'] }}" />
      </div>
      <div>
        <label for="description">Detailed Description:</label><br><textarea type="text" name="description">{{ media.meta['description'] }}</textarea>
      </div>
      <div>
        <label for="thumbnail">Thumbnail:</label>
        <input name="thumbnail" type="file" accept="image/*" />
        {% if media.thumbnail %}
        <div class="thumbnail">
          <p>Existing thumbnail:</p>
          <img src="{{ media.thumbnail }}" />
        </div>
        {% end %}
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </div>
  {% if media.type != 'album' %}
  </form>
  <form id="move" autocomplete="off" method="POST">
    {% module xsrf_form_html() %}
    <input type="hidden" name="action" value="move" />
    <h2>Move Media</h2>
    <div class="media_meta">
      <div>
        <label>Existing album path:</label> <input disabled type="text" value="{{ media.src[6: -1*len(media.name)-1] }}" />
      </div>
      <div>
        <label for="new_album">New album path:</label> <input type="text" name="new_album" value="" />
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </div>
  {% end %}

    <h2>Original</h2>
    {% if media.type == 'image' %}
    <div class="media full">
      <a href="{{ media.src }}" target="_blank">
        <img src="{{ media.src }}"
           alt="{{ media.meta['title'] }}" />
      </a>
    </div>
    {% else %}
    <div class="media link">
      <a href="{{ media.src }}" target="_blank">link<span class="marker ui-icon ui-icon-extlink"></span></a>
    </div>
    {% end %}
  </form>
{% end %}

{% block extra_footer %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$(function(){
    
});
</script>
{% end %}
