html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #212529;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

figure {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}


img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin: 0 0 12px;
}
ul {
  list-style: disc;
}
ul, ol {
  padding: 0;
  margin: 0 0 12px 25px;
}
li {
  margin: 0 0 12px 0;
}
h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

header {
  display: flex;
  flex-wrap: wrap;
  direction: ltr;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}
header > * {
  margin: auto 0;
  flex: 0 1;
}
header .logo {
  width: 59px;
  min-width: 59px;
}
header h1 a {
  white-space: nowrap;
}
header .search-form {
  min-width: 10em;
  margin: .5em 0 1em;
  direction: ltr;
  justify-content: end;
}
header .search-form .search-bar {
  width: 60%;
  max-width: 15em;
}
header .search-form .search-button {
  padding: 0;
  border-radius: .5em;
  border-width: 1px;
  width: 3em;
}
body.search header .search-form {
  display: none;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  font-family: 'Aldrich';
  font-variant-caps: small-caps;
}

h1 a, h1 a:visited {
  text-decoration: none;
  color: #3773a2;
}

strong {
  font-weight: 600;
}

.container {
  max-width: 2048px;
  margin: 0 auto;
  overflow: auto;
}

.content {
  margin: 1em 1.5em;
}

#menu {
  background: #F7F7F7 none repeat scroll 0 0;
  padding: 1rem 1.5rem;
}

#menu ul {
  margin: 0 auto;
  display: flex;
}

#menu li {
  padding: 0 .3rem;
  margin: 0;
  list-style: none; /* pour enlever les puces sur IE7 */
}
#menu li.edit {
  margin-left: auto;
}

.album-list {
  width: 100%;
  padding: 2em 0;
  margin: auto;
}

.thumbnail {
  text-align: center;
}
.thumbnail img {
  width: 150px;
  max-width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 2px 5px 2px;
  border: 10px solid #fff;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px #B1B1B1;
  background: #eee;
  padding: 0;
}
.thumbnail img:hover {
  box-shadow: 0 0 5px #818181;
}

.album_title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video {
  width: 100%;
  margin: 0 0 24px 0;
}
.video__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video__container iframe,
.video__container video {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2% 0 15% 0;
}
.video-desc {
  width: 100%;
  max-width: 740px;
  margin: 12px auto;
}

.additionnal-infos {
  width: 100%;
  height: auto;
}

.album-list,
.gallery {
  width: 100%;
  padding-top:1em;
  display: flex;
  flex-wrap: wrap;
}
.album-list a,
.gallery a {
  line-height: 0;
  position: relative;
  display: inline-block;
}
.album-list .caption,
.gallery figcaption {
  font-size: .8rem;
  padding: 0 .5em;
  overflow-wrap: break-word;
}
.album-list .caption .title,
.gallery figcaption .title {
  font-weight: bold;
}
.gallery .lightbox_caption {
  display: none;
}

.menu-img,
.gallery__img--secondary {
  flex: 0 1 12.5%;
  max-width: 12.5%;
  margin-bottom: 1em;
}
.gallery__img--secondary.thumbnail.video .video-overlay {
  position: absolute;
  margin: auto;
  top: 10px;
  width: 100%;
  pointer-events: none;
  line-height: 150px;
}
.gallery__img--secondary.thumbnail.video .video-overlay .material-icons {
  font-size: 50px;
  vertical-align: middle;
}

.gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
}

.breadcrumb {
  font-size: 1.5rem;
}
.breadcrumb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumb ul li {
  display: inline-block;
}
.breadcrumb span.material-icons {
  font-size: inherit;
  vertical-align: text-bottom;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb .edit {
  margin-left: .35em;
}
#description {
  margiN: .5em 0;
  font-size: .9rem;
}
a, a:visited {
  color: #1875c3ff;
}
a:hover {
  color: #2f9cf8ff;
}

footer {
  width:100%;
}

footer p {
  text-align: center;
}
footer span:not(:last-child):after {
  content: ' - ';
}

@media screen and (max-width: 1800px) {
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 16.66%;
    max-width: 16.66%;
  }
}
@media screen and (max-width: 1400px) {
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 20%;
    max-width: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 25%;
    max-width: 25%;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 991px) {
  header .search-form .search-bar {
    position: absolute;
    margin-right: 4em;
    height: 1.5em;
    margin-top: .1em;
  }
}
@media screen and (max-width: 990px) {
  .content {
    margin: 1em 1.5em;
  }
  .breadcrumb {
    font-size: 1.25rem;
  }
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 33%;
    max-width: 33%;
  }
  header h1 {
    font-size: 2rem;
    text-align: left;
    padding: .5em .2em .4em;
  }
  header .search {
    flex-basis: 100%;
  }
  header, header .search-form {
    justify-content: center;
  }
  header .search-form {
    margin: .5em 1em;
  }
  header .search-form .search-bar {
    max-width: 70%;
  }
  #menu {
    padding: .75rem 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 760px) {
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 540px) {
  .content {
    margin: 1em;
  }
  .breadcrumb {
    font-size: 1rem;
  }
  .menu-img,
  .gallery__img--secondary {
    flex-basis: 100%;
    max-width: 100%;
  }
  body.search .search-form .search-bar {
    flex-basis: 100%;
    margin-right: 0;
  }
  header h1 a {
    white-space: wrap;
  }
  #menu {
    padding: .5rem 1.5rem;
  }
}

.search-form {
  display: flex;
  margin: 0 .5em 2em;
}
body.search .search-form {
  flex-wrap: wrap;
  justify-content: center;
}
.search-form .search-bar {
  flex: 1 1 20%;
  margin-right: .5em;
}
.search-form .search-limit-label {
  margin: auto .3em auto 0;
}
.search-form .search-limit {
  width: 3.2em;
  margin-right: .5em;
}
.search-form .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.search-overview {
  margin-bottom: 1em;
}
.search-result {
  display: flex;
  margin-bottom: 1em;
}
.search-result .details {
  margin-left: 1em;
}
.search-result .details .label {
  font-weight: 600;
}

#upload_section h2 {
  margin: .5em 0;
}